html {background-color: rgb(239, 224, 224);}
body {
    font-family: "Lucida Console", sans-serif;
}

.thai-title {
    font-family: "Lucida Console", sans-serif;
}

#links-box {
    border-radius: 25px;
    background: #8d6f7592;
    padding: 20px; 
    width: 200px;
    height: 100px; 
  }